@charset="UTF-8";
body {

margin: 0;

font-family: Arial, sans-serif;

background-color: #f4f4f4;

color: #333;

}

h2 {color:green; font-size:30px}
.header {

background-color: #1e293b;

color: #fff;

text-align: center;

padding: 30px 10px;

}
.navbar {

background-color: #0f172a;

display: flex;

justify-content: center;

gap: 20px;

padding: 15px;

}


.navbar a {

color: white;

text-decoration: none;

font-weight: bold;

}


.navbar a:hover {

text-decoration: underline;

}
main{width:640px; float:left; margin-bottom:10px;}
.section {

margin-bottom: 40px;
}
.section h2 {

border-bottom: 2px solid #e5e7eb;

padding-bottom: 5px;

}
label {color:green}

.footer {

background-color: #1e293b;

color: white;

text-align: center;

padding: 15px;

}



